%p= @restaurant.name
%p= @restaurant.description



%h3
  Reviews for
  = @restaurant.name

  - if @restaurant.reviews.any?
    %ul
    - @restaurant.reviews.each do |review|
      %li
        Thoughts:
        = review.thoughts
        Rating:
        = review.rating
        = link_to "Delete Review", restaurant_review_path(@restaurant, review), method: :delete
  - else
    %p No reviews
